* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #1b1b1b;
  }
  .container {
    width: min(550px, 90vw);
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3rem;
    border-radius: 0.8em;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  input {
    width: 60%;
    border: 1px solid #000000;
    padding: 1em;
    border-radius: 0.7em;
  }
  button {
    background-color: #1d1d1d;
    color: #ffffff;
    border: none;
    width: 38%;
    border-radius: 0.7em;
    padding: 1em;
    font-size: 0.8em;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .icons {
    display: flex;
  }
  
  .icons .icon {
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .icons .icon:hover {
    transform: translateY(-5px);
  }

  .footer p {
    color: aliceblue;
    margin-top: 10px;
  }

  .home {
    padding: 30px;
  }

  .home img {
    height: 60px;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
  }

  .home img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Adjust the values as needed */
  }

  .icons .icon img{
    height: 40px;
    border-radius: 10%;
  }
